<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tentang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">Tentang</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title style="font-size: 40px;">
        Tentang Aplikasi Suarakala
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplikasi ini dibuat dengan tujuan untuk menuntaskan UAS dari mata kuliah Pemrograman Perangkat Bergerak.
      Aplikasi ini dibuat secara kelompok. Dimana kelompok tersebut terdiri dari Rizki Fadillah, Dwiky Saputra dan Reynaldi Cakra Milianto Djabar
    </ion-card-content>
  </ion-card>

<br>
  <ion-list>
    <ion-list-header color="dark">
      <ion-text color="primary">Anggota</ion-text>
    </ion-list-header>
  </ion-list>

  <ion-card color="primary">
    <img src="../../assets/member-1.jpg" width="400px" />
    <ion-card-header>
      <ion-card-title>Rizki Fadillah</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      NIM: 4311801006
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <img src="../../assets/member-2.jpg" width="400px"/>
    <ion-card-header>
      <ion-card-title>Dwiky Saputra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      NIM: 4311801009
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <img src="../../assets/member-3.png" width="400px"/>
    <ion-card-header>
      <ion-card-title>Reynaldi Cakra Milianto Djabar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      NIM: 4311801028
    </ion-card-content>
  </ion-card>
<br><br>
</ion-content>
