<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" color="primary">
      Suarakala
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-grid >
      <div text-center>
        <p align="center"><img src="../../assets/header.png" alt=""></p>
      </div>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/login']" expand="block" color="primary" class="btn-bawah" color="dark">MULAI</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>